@keyframes headMove {
    0% { height: 100px }
    50% { height: 105px }
    100% { height: 105px }
}
@keyframes headMoveUp {
    0% { height: 105px }
    50% { height: 100px }
    100% { height: 100px }
}

@keyframes eyeMoveY {
    0% { top: 50px }
    50% { top: 70px; height:14px}
    100% { top: 70px; height:14px}
}

@keyframes eyeMoveX {
    0% { top: 70px; left: 28px; }
    20% { top: 70px;  left: 20px}
    100% {  top: 70px; left: 28px}
}

@keyframes eyeMoveX2 {
    0% { top: 70px; left: 64px }
    20% { top: 70px;  left: 56px}
    100% {  top: 70px; left: 64px}
}

@keyframes eyeUp {
    0% { top: 70; height: 14px }
    80% { top: 50px;  height: 20px }
    100% { top: 50px; height: 20px }
}

@keyframes blushShow {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes blink {
    0% { transform: scaleY(1) }
    50% { transform: scaleY(0.2) }
    100% { transform: scaleY(1) }
}

@keyframes earUp {
    0% { top: 46px; height: 30px; }
    50% { top: 44px; height: 24px; }
    100% { top: 44px; height: 24px; }
}

@keyframes earDown {
    0% { top: 44px; height: 24px; }
    50% { top: 46px; height: 30px; }
    100% { top: 46px; height: 30px; }
}

@keyframes bangsMoveDown {
    0% { height: 56px; }
    50% { height: 78px }
    100% { height: 78px; }
}

@keyframes bangsMoveUp {
    0% { height: 78px; }
    50% { height: 56px }
    100% { height: 56px; }
}

@keyframes bangsRightHeight {
    0% { height: 57px; }
    50% { height: 68px; }
    100% { height: 68px; }
}

@keyframes bangsRightHeightUp {
    0% { height: 68px; }
    50% { height: 57px; }
    100% { height: 57px; }
}

@keyframes bangsLeftHeight {
    0% { height: 106px; }
    50% { height: 98px; }
    100% { height: 98px; }
}

@keyframes bangsLeftHeightUp {
    0% { height: 98px; }
    50% { height: 106px; }
    100% { height: 106px; }
}

@keyframes hairUp {
    0% { top: 0px; }
    50% { top: -2px; }
    100% { top: -2px; }
}
@keyframes hairDown {
    0% { top: -2px; }
    50% { top: 0px; }
    100% { top: 0px; }
}

@keyframes ponytailUp {
    0% { top: 100px; }
    50% { top: 80px; }
    100% { top: 80px; }
}
@keyframes ponytailDown {
    0% { top: 80px; }
    50% { top: 100px; }
    100% { top: 100px; }
}